@charset "UTF-8"

*{
    font-family: 'Arial, Helvetica, sans-serif';
    height: 100% ;
}

body{
    background-image: linear-gradient(to right, #D6D58E, #DBF227 );
}

main{
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(122, 104, 20, 0.712); 
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #9FC131;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(201, 198, 23, 0.637);
}

h2{
    color: #005C53;
}

p {
    text-align: justify;
}
